<!DOCTYPE html>
<html>
  <head>
    <title>Guestit4</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row header">
      <div class="col-3 logo">
        <%= link_to 'GuestIt', root_path %>
      </div>
      <div class="col-4 header_nav_padding">
        Get on the list here at GuestIt
      </div>
      <div class="col-5 header_nav_padding">
        <%= link_to 'Add Guest', new_guest_path %>
      </div>
    </header>

     <br />
    <%= yield %>
  </body>
</html>
